/* common */

.cursor-pointer {
    cursor: pointer;
}
.header-social-links a {
    padding-right: 5px;
    font-size: 15px !important;
}
.header-social-links a i {
    font-size: 17px !important;
}
.navmenu ul li a {
    font-size: 15px;
}
a {
    text-decoration: none !important;
}

.hero-image-wrapper {
  position: relative;
  text-align: center;
}

.hero-img {
  max-width: 100%;
  animation: float 4s ease-in-out infinite;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.4));
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
